.aboutcontent {

    display: flex;
    width: 300vw;

    .col {
        display: flex;
        gap: 3em;

        p {
            font-size: .8rem;
        }
    }

    section {
        width: 100vw;
        height: 80vh;
        padding: 20vw 7.5vw;

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}

.animn {
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
}

.animn1 {
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
}

.aboutbackground {
    height: 85vh;
    width: 100%;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.97);
    margin-top: 10vh;
}

/* .rowdir{
    flex-direction: row;
} */

/* @media (max-width: 600px) {
    .rowdir{
        flex-direction: row;
    }
  } */

.displaydir {
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.displaydirp {
    text-align: justify;
    margin-right: 17px;
}

.secImg {
    height: 395px;
    width: 632px
}


@media (max-width: 600px) {
    .displaydir {
        flex-direction: column;
        margin-right: 0px;
        margin: 0;
    }

    .displaydirp {
        text-align: justify;
        margin: 0;
    }

    .aboutcontent {
        section {
            p {
                font-size: 1.2rem;
                width: 78vw;
            }
        }
    }

    .secImg {
        height: 45%;
        width: 90%;
    }

    .animn {
        text-align: center;
        font-size: 2rem;
    }

    .animn1 {
        text-align: center;
        font-size: 2rem;
    }

}