.events {
    background-color: #4AB582;
    height: 125vh;

}

.titel {
    width: 100vw;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Unbounded", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: .05em;
}

.eventdis {
    width: 83.333%;
    height: 100%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 0.375rem;
    padding: 1rem;
    padding-bottom: 0.75rem;
    background-color: rgb(255 255 255);
}

.slick-slider {
    position: relative;
    display: block;

}

.slick-list {
    transform: translateZ(0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    opacity: 1;
    transform: translate3d(0, 0px, 0px);
}

.eventline {
    width: 83.333333%;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: rgb(255 255 255);
}

.hr {
    opacity: 1;
    position: absolute;
    background-color: rgb(255 255 255);
    border-width: 3px;
    width: 100%;

}

.node {
    background-color: rgb(255 255 255);
    border-radius: 0.375rem;
    width: 1rem;
    height: 2rem;

}

.slick-slide {
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
}

.event1 {
    display: flex;
    flex-direction: row;
}

.event2 {
    display: none;
    flex-direction: row;  
}
.event3 {
    
    display: none;
    flex-direction: row;  
}
.event4 {
    
    display: none;
    flex-direction: row;  
}

.evevthidden {
    display: none;
    
  }
  
.evevtshow {
    display: flex;
  }



.eventimg {
    width: 100%;
    height: 444px;
    margin: 2px;
    
}
.dishide{
    display:block;
}


@media (max-width: 600px) {
    .event1{
        flex-direction: column;
      }
    .event2{
        flex-direction: column;
      }
    .event3{
        flex-direction: column;
      }
    .event4{
        flex-direction: column;
      }
      .eventimg{
        height: 300px;
      }
      .dishide{
        display: none;
      }
      
  } 