@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Ubuntu:wght@700&family=Unbounded:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    text-transform: capitalize;
    overflow-x: hidden;
    margin: 0;
    line-height: inherit;
}
