


* {
    box-sizing: border-box;
}


.wrapper {
  overflow-x: hidden;
  position: relative;
  background-color: purple;
  z-index: -1;
  opacity: 100%;;
}




.container {
  display: flex;
  width: 300vw;


  .col {
      display: flex;
      gap: 3em;
      
      p {
          font-size: .8rem;
      }
  }

  section {
      width: 100vw;
      padding: 15vh 0vw;
      margin: 0px;
      /* left: 5vw; */

      h1 {
          font-size: 3rem;
          margin: 0;
      }

      p {
          font-size: 1.2rem;
          width: 50vw;
      }

      ul {
          list-style-type: none;
          display: flex;
          gap: 3em;
          width: 100%;
          height: 300px;
          padding: 0;

          li {
              background: white;
              border-radius: .3em;
              flex-grow: 1;
          }
      }

  }
}

section {
  height: 100vh;

}

.team{
  width: 65vw;
  
  padding: 20vh 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: .05em;
  /* transform: translate(-12vw); */
}



.card{
  background-color: white;
  border: 4px solid black;
  padding: .75rem;
  
  border-radius: .375rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 450px;
  margin: .5rem;
  width: 100%;
}

.cardimage{
 
  border-radius: .375rem;
  width: 100%;
  border: 2px solid black;
}

.aspectsqure{
  width: 100%;
  overflow: hidden;
}

.cardimg{
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  vertical-align: middle;
}


@media (max-width: 600px) {
  .team{
    width: 100vw;
    padding:0;
    margin-right: 20px;
    margin-left: -10px;
    }
    .container{
      display: flex;
  width: 300vw;
      section{
        padding: 25vh 0vw;
      }
    }
} 


